{{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
        type="text/javascript"></script>
    <!--CSS CHO đăng ký và js tự code-->

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/style-register.css">
    <script src="js/style-register.js" type="text/javascript"></script>
    <script src="js/style.js"></script> --}}

{{#section 'css'}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/style-register.css">
{{/section}}

{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
<script src="js/style-register.js" type="text/javascript"></script>
<script src="js/style.js"></script>
{{/section}}

<div class="ct col-5 mt-5 justify-content-between mt-5 mb-5">
    <div id="content">
        <div class="container">
            <form class="well form-horizontal" action=" " method="post" id="contact_form">
                <fieldset>

                    <!-- Form Name -->
                    <legend>
                        <center>
                            <h2><b>Thông tin đăng ký tài khoản</b></h2>
                        </center>
                    </legend><br>

                    <!-- Text input-->
                    <div class="col-md-12 infomation-title">
                        <h5>Thông tin cá nhân</h5>
                    </div>
                    <!-- Text input-->

                    <div class="form-group">
                        <label class="col-md-4 control-label">Họ tên của bạn</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="name" placeholder="Nhập họ tên" class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 infomation-title">
                        <h5>Thông tin tài khoản</h5>
                    </div>
                    <!-- Text input-->

                    <div class="form-group">
                        <label class="col-md-4 control-label">Tên đăng nhập</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                                <input name="user_name" placeholder="Nhập tên đăng nhập" class="form-control"
                                    type="text">
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->

                    <div class="form-group">
                        <label class="col-md-4 control-label">Mật khẩu</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock" style="width: 15px;"></i></span>
                                <input name="user_password" placeholder="Nhập mật khẩu" class="form-control"
                                    type="password">
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->

                    <div class="form-group">
                        <label class="col-md-4 control-label">Xác nhận mật khẩu</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock" style="width: 15px;"></i></span>
                                <input name="confirm_password" placeholder="Nhập xác nhận mật khẩu" class="form-control"
                                    type="password">
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">E-Mail</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input name="email" placeholder="Nhập E-Mail" class="form-control" type="text">
                            </div>
                        </div>
                    </div>


                    <!-- Text input-->
                    <div class="col-md-12 infomation-title">
                        <h5>Mã kiểm tra</h5>
                        <img src="https://www.tsohost.com/assets/uploads/blog/capcha.jpeg">

                    </div>


                    <div class="form-group">
                        <label class="col-md-4 control-label">Nhập mã kiểm tra</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <input name="reCaptcha" placeholder="Nhập mã kiểm tra" class="form-control"
                                    type="password">
                            </div>
                        </div>
                    </div>

                    <!-- Success message -->
                    <div class="alert alert-success" role="alert" id="success_message">Success <i
                            class="glyphicon glyphicon-thumbs-up"></i> Success!.</div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-6"><br>
                            <button type="submit" class="btn btn-warning" id="btn-res">&nbsp&nbsp&nbsp&nbspĐăng ký <span
                                    class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp</button>
                            <button class="btn btn-danger" id="return-res"
                                onclick="window.location.href='register.html'">Huỷ đăng ký</button>
                            <button class="btn btn-primary" id="return-log"
                                onclick="window.location.href='login.html'">Đăng
                                nhập</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>