  
 <div class="container-fluid" style="margin-top: 5%;">
    <div class="cards-list">
        {{#each rows}}
            <div class="card 1">
                <div class="card_image"> <img src="/admin/img/{{images}}" /> </div>
                        <div class="card_title">
                            <a href="/account/advantage/2/write?type={{ID}}" style="text-decoration: none; color:white" ><p>{{tc_Name}}</p></a>     
                        </div>
            </div>
        {{/each}}
        <!--<div class="card 4">
            <div class="card_image">
                <img src="https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif" />
                </div>
            <div class="card_title title-black">
                <p>Card Title</p>
            </div>
        </div>-->

    </div>
</div>


