<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Deerhost Template">
    <meta name="keywords" content="Deerhost, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> EDITOR </title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section" style="background-color: #161253;">
        <div class="header__info">
            <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/"><img style="height: 30%;width: 30%;" src="/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="http://localhost:3000/account/advantage/3">TRANG CHỦ</a></li>
                            <li><a id="chungkhoan">CHỨNG KHOÁN</a>
                                <ul class="dropdown">
                                    <li><a href="http://localhost:3000/account/advantage/categori/1">Cổ phiếu top
                                            đầu</a></li>
                                    <li><a href="http://localhost:3000/account/advantage/categori/2">Xu hướng nhận
                                            định</a></li>
                                </ul>
                            </li>
                            <li><a id="doanhnghiep">DOANH NGHIỆP</a>
                                <ul class="dropdown">
                                    <li><a href="http://localhost:3000/account/advantage/categori/3">Bất động sản</a>
                                    </li>
                                    <li><a href="http://localhost:3000/account/advantage/categori/4">Doanh nghiệp niêm
                                            yết</a>
                                </ul>
                            </li>
                            <li><a id="taichinh">TÀI CHÍNH</a>
                                <ul class="dropdown">
                                    <li><a href="http://localhost:3000/account/advantage/categori/5">Ngân hàng điện
                                            tử</a></li>
                                    <li><a href="http://localhost:3000/account/advantage/categori/6">Thương mại điện
                                            tử</a></li>
                                </ul>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
        </div>
        
    </header>
    {{{body}}}
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>