
    <div id="content">
        <div class="error-page mt-5">
            <div class="container">
                <div class="col-md-12 col-sm-8 col-xs-8">
                    <div class="error_pagenotfound"> <strong>5<span id="animate-arrow">0</span>5</strong> <br />
                        <b>Đã xay ra lỗi trên server vui lòng thử lại sau...</b>
                        <a href="/" class="button-back"><i class="fa fa-arrow-circle-left fa-lg"></i>&nbsp; Trở
                            về</a>
                    </div>
                    <!-- end error page notfound -->

                </div>
            </div>
        </div>
        <!-- Main Container End -->
    </div>
