<div class="container">
{{#if err}}
<div class="alert alert-danger mt-3 ml-5 fade show" style="width:85%;text-align:center" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{err}}
</div>
<a href="/admin/categories/edit/{{idCat}}" class="btn btn-outline-primary mt-5 ml-5">Trở về trang chỉnh  chuyên mục</a>

{{/if}}
</div>